@{
  Layout = "_Layout";
}

<p>Detail</p>

    <li>Restaurant Name: @Model.GetName()</li>
    <li>Located in: @Model.GetCity()</li>

<p><a href="/restaurants">Back to Restaurant List</a></p>
<p><a href="/cuisines">Back to Cuisine List</a></p>
