@{
  Layout = "_Layout";
}

<p>Detail</p>

    <li>Restaurant Name: @Model.GetName()</li>
    <li>Located in: @Model.GetCity()</li>

<a class="btn btn-dark" href="/restaurants">Back to Restaurant List</a>
<a class="btn btn-dark" href="/cuisines">Back to Cuisine List</a>
