@{
  Layout = "_Layout";
}
<p>Restaurant List</p>
@foreach (var restaurant in Model)
{
    <h4>@restaurant.GetName() | <a href="/restaurants/@restaurant.GetId()/update">Edit</a></h4>
}
<form action="/restaurants/sorted" method = "post">
<div class="form-group">
<select class="form-control" name="order" id="order">
<option>ASC</option>
<option>DESC</option>
</select>
</div>
<button type="submit" class="btn btn-info">Filter</button>
</form>
<a class="btn btn-info" href = "/restaurants/new">Add a new restaurant</a>
<a class="btn btn-info" href = "/restaurants/sorted">Sort restaurants</a>
<a class="btn btn-info" href = "/">Homepage</a>
