@{
  Layout = "_Layout";
}
<h1>Update Form</h1>
<hr />
<h2>Edit item: @Model["restaurant"].GetName()</h2>
<form action="/restaurants/@Model["restaurant"].GetId()/update" method="post">
    <label for="new-name">Name:</label>
    <input type="text" name="new-name" value="@Model["restaurant"].GetName()">
    <label for="new-city">City:</label>
    <input type="text" name="new-city" value="@Model["restaurant"].GetCity()">
    <select name="cuisine">
      @foreach (var cuisine in Model["cuisine"])
      {
        <option value=@cuisine.GetId()>@cuisine.GetName()</option>
      }
    </select>
    <button type="submit">Edit</button>
</form>
<a class="btn btn-dark" href=/restaurants/@Model["restaurant"].GetId()/delete>Delete</a>
<a class="btn btn-dark" href="/restaurants">Return to Restaurant Index</a>
