@{
  Layout = "_Layout";
}

<h1>Find The Best Restaurants!</h1>
<div class="card bg-faded card-block mb-3 p-3">
 <p>Welcome To Cuisine Finder</p>
</div>
<a href="/cuisines" class="btn btn-info">Cuisine List!</a>
<a href="/restaurants" class="btn btn-info">Restaurant List!</a>
