@{
  Layout = "_Layout";
}

<form action='/cuisines' method='post'>
  <label for='cuisine-name'>Cuisine Type</label>
  <input id='cuisine-name' name='cuisine-name' type='text'>

  <button type='submit'>Add Cuisine</button>
</form>
