@{
  Layout = "_Layout";
}
<h1>@Model.GetName()</h1>

@foreach (var restaurant in Model.GetRestaurants())
{
<h4><a href='/restaurants/@restaurant.GetId()'>@restaurant.GetName()</a></h4>
}

<a class="btn btn-info" href='/restaurants/new'>Add restaurants</a>
<a class="btn btn-info" href="/cuisines">Back to Cuisine List</a>
<a class="btn btn-info" href="/cuisines/@Model.GetId()/delete">Delete this Cuisine</a>
<a class="btn btn-info" href='/'>back Home</a>
