@{
  Layout = "_Layout";
}
<h1>@Model.GetName()</h1>

@foreach (var restaurant in Model.GetRestaurants())
{
<h4><a href='/restaurants/@restaurant.GetId()'>@restaurant.GetName()</a></h4>
}

<button class="btn btn-info"><a href='/restaurants/new'>Add restaurants</a></button>
<button class="btn btn-info"><a href="/cuisines">Back to Category List</a></button>
<button class="btn btn-info"><a href='/'>back Home</a></button>
